body {
  padding: 50px;
  font: 14px "Lucida Grande", "Helvetica", "Arial", "sans-serif";
}
a {
  color: #00B7FF;
}
.registration-pane {
  float: right;
  width: 200px;
}
.data-entry {
  float: right;
  position: relative;
  top: 5em;
  left: 15.5em;
  text-align: right;
}
.amount {
  width: 75px;
}
.bill-flow-container {
  position: relative;
  top: 100px;
  left: -100px;
}
