body {
  padding: 50px;
  font: 14px "Lucida Grande", "Helvetica", "Arial", "sans-serif";
}
a {
  color: #00B7FF;
}
.header {
  float: left;
}
.social-bar {
  width: 97%;
  position: fixed;
  text-align: right;
  top: 0px;
  z-index: 0;
}
.social-bar div {
  padding: 5px;
  z-index: 0;
}
.social-bar i {
  cursor: pointer;
}
.social-link {
  width: 100px;
}
.registration-pane {
  float: right;
  width: 200px;
}
.data-entry {
  float: right;
  position: relative;
  top: 5em;
  left: 15.5em;
  text-align: right;
}
.data-entry-ctrls {
  z-index: 9999;
}
.amount {
  width: 75px;
}
.description {
  width: 150px;
}
.recurring-list {
  float: right;
  position: relative;
  top: 5em;
  left: 15.5em;
  text-align: right;
}
.bill-flow-container {
  font-size: 12px;
  float: left;
  position: relative;
  width: 950px;
}
.day-row {
  padding-left: 25px;
}
.day {
  border: 2px black solid;
  border-radius: 5px 5px 0px 0px;
  width: 100px;
  display: inline-table;
  margin: 5px;
}
.day-title {
  font-weight: bold;
  padding: 5px;
  border-bottom: 2px solid black;
  height: 20px;
}
.day-content {
  font-size: 10px;
  padding: 5px;
  height: 50px;
}
